.header {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  box-sizing: border-box;
  z-index: -2;
  .image {
    object-fit: cover;
  }
  .layer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.733),
      rgba(234, 0, 0, 0)
    );
    z-index: 100;
  }
}

.cartel .footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: x-small;
}
