.cartel {
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    box-sizing: border-box;
}

.cartel .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: x-small;
}